{% load crispy_forms_tags %}

<div class="modal fade" id="signup_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="mx-auto my-0">Register Account</h1>
            </div>
            <div class="modal-body">
                <div id="account_dialogbox_register">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ userform|crispy }}
                        <div class="form-group row container">
                            <small id="signupwrong">輸入資料錯誤或帳號重複</small>
                        </div>
                        <input class="btn btn-primary" type="submit" name="signup_post" value="Register Account">
                        {{userform.errors}}
                    </form>
                </div>
            </div>



        </div>
    </div>
</div>
